[submodule "git"]
	path = git
	url = git://github.com/msysgit/git
[submodule "html"]
	path = doc/git/html
	url = git://git.kernel.org/pub/scm/git/git.git
[submodule "git-cheetah"]
	path = src/git-cheetah
	url = git://repo.or.cz/git-cheetah.git/
