[submodule "git"]
	path = git
	url = ../git.git
[submodule "html"]
	path = doc/git/html
	url = git://git.kernel.org/pub/scm/git/git.git
[submodule "git-cheetah"]
	path = src/git-cheetah
	url = ../Git-Cheetah.git
[submodule "src/msys"]
	path = src/msys
	url = ../msys.git
