[submodule "git"]
	path = git
	url = git://github.com/msysgit/git.git
[submodule "html"]
	path = doc/git/html
	url = git://github.com/gitster/git-htmldocs.git
[submodule "git-cheetah"]
	path = src/git-cheetah
	url = git://repo.or.cz/git-cheetah.git/
